#sidebar {
    background: black;
    width: 24%;
    height: 10%;
    opacity: 0.9;
    filter: alpha(opacity=40);
    margin-left: 66%;
    margin-top: 5px;
}

.fotoleft {
    width: 100%;
    height: 250px;
}

.h1 {
    color: white;
}

.hr {
    margin-right: -1.9%;
    margin-left: -1.9%;
}

.h5 {
    color: white;
    font-size: 10px;
    margin-top: -5px;
}

#prama {
    padding: 10px;
}

#contentL {
    color: white;
    float: left;
    width: 45%;
    margin-top: 2%;
    margin-bottom: 3%;
}

#contentR {
    color: white;
    float: right;
    width: 45%;
    margin-top: 2%;
    margin-bottom: 3%;
}

#contentW {
    background-color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 0px solid #ddd;
    border-radius: .55em;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state~.read-more-trigger:before {
    content: 'Show more';
    color: white;
}

.read-more-state:checked~.read-more-trigger:before {
    content: 'Show less';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
    margin-left: 86%;
}