@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url("../fonts/Dosis-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url("../fonts/Roboto-Regular.ttf") format('truetype');
}

body {
    font-family: 'Dosis';
    background-image: url("../img/cover12.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-responsive {
    max-width: 100%;
    /* or to whatever you want here */
    max-height: auto;
    /* or to whatever you want here */
}

.img-article {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.article-desc {
    word-wrap: break-word;
    padding-bottom: 5px;
}

.article-btn {
    float: right;
}

.article-btn a {
    background-color: rgba(255, 255, 255, 0.419);
    color: #000000;
    border: 0;
}

.article-title {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    vertical-align: bottom;
}

.card .article-content {
    padding: 16px 0;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.186);
    color: #ffffff;
    height: auto;
    overflow-y: auto;
}

.logo-front {
    margin-top: 19%;
    max-width: 40%;
}

.sliding-menu a:hover {
    font-weight: bold;
}

.afexion {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(119, 119, 119, 0.178);
}

.parallax {
    /* The image used */
    margin-bottom: 100px;
}

.parallax2 {
    /* The image used */
    height: 300px;
    margin-bottom: 6%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
}

.client {
    width: 100%;
}

.about2 {
    background-color: #212121;
    width: 100%;
    color: #e0e0e0;
}

.copyright {
    margin-top: 0;
    background-color: #212121;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 13px;
    color: #bfbfbf;
}

.error {
    text-align: center;
    color: #fff;
}

.footer {
    margin-top: 0;
    /*background-color: #212121;*/
    width: 100%;
    padding-top: 4%;
    padding-bottom: 0%;
    /*padding-left: 25%;
  padding-right: 25%;*/
    padding-left: 8%;
    padding-right: 8%;
    /*padding: 50px 100px;*/
    color: #616161;
}

.fancy-collapse-panel .panel-default>.panel-heading {
    padding: 0;
}

.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #212121;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

.fancy-collapse-panel .panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f0de";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    margin-top: -10px;
}

.table-body {
    word-wrap: break-word;
    height: 90px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f0dd";
}

.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.footer h3 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: lighter;
}

.footer-text {
    font-size: 13px;
    color: #b7b7b7
}

.footer2 {
    margin-top: 0;
    background-color: #212121;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-left: 8%;
    padding-right: 10%;
    /*padding: 50px 100px;*/
    color: #d1d1d1;
}

.footer2 h3 {
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0);
    color: #767777;
    border-radius: 0;
    height: 100px;
    padding-top: 25px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding-left: 3%;
    padding-right: 3%;
}

.navbar-collapse {
    box-shadow: 0 0 0;
    margin-top: 10px;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    color: #767777;
    border-radius: 0;
    height: 100px;
    padding-top: 25px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 0px;
}

nav.navbar.shrink {
    background-color: #212121;
}

.navbar-custom .navbar-nav>li>a {
    color: rgba(204, 204, 204, 0.5);
    font-size: 16px;
    font-weight: 400;
    --webkit-transition: all 0.3s ease;
}

.navbar-default .navbar-nav>li>a {
    color: #424242;
    font-size: 16px;
    /*font-weight: bold;*/
}

.navbar-custom .navbar-nav>.active>a {
    color: #fff;
    font-weight: bold;
    background-color: transparent;
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-brand {
    color: #fefefe;
    margin-top: -35px;
}

.navbar-custom .navbar-brand {
    color: #fefefe;
    margin-top: -35px;
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}

.navbar-custom .icon-bar {
    background-color: #33aa33;
}

.navbar-center {
    position: absolute;
    width: 100%;
    margin-left: 29%;
    text-align: center;
}

.title-card {
    color: #6d6d6d;
    font-size: 24px;
    margin-bottom: 10px;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #212121 !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #212121;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.career-schedule {
    margin-top: -5px;
}

.career-place,
.career-time {
    display: inline-block;
}

.career-post-title,
.career-post-link {
    display: inline-block;
    vertical-align: middle;
}

.career-entry {
    border-bottom: 1px solid gainsboro;
}

.entry-summary {
    margin-top: 8px;
    padding-top: 10px;
    word-wrap: break-word;
    text-align: justify;
    border-bottom: 1px solid gainsboro;
}

.caption {
    margin-bottom: 16px;
}

.bg-table {
    background-color: #fff;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
    height: auto;
    margin-bottom: 16px;
}

.career-title {
    font-size: 24px;
    vertical-align: baseline;
}

.career-company {
    font-size: 17px;
    margin-bottom: 0;
    font-weight: lighter;
}

.career-post-link {
    border: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.career-post-time {
    font-size: 14px;
    font-weight: lighter;
    margin: 8px 0 0 2px;
}

div.social-btn>a>i.fa {
    display: inline-block;
    margin: 0 5px;
    font-size: 21px;
}

.work-fulltime,
.career-time {
    font-size: 12px;
}

.work-fulltime {
    background: #1B5E20;
    border: 0px;
    color: #eeeeee;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.work-parttime {
    background: #E64A19;
    border: 0px;
    color: #eeeeee;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 16px;
}

a:link {
    color: #000;
    text-decoration: none;
}

.company-name {
    font-size: 22px;
    color: #fff;
}

.date-post {
    font-size: 16px;
    margin-top: 4px;
}

.posted,
.posted-date {
    display: inline-block;
}

.career-job {
    font-size: 28px;
}

.jobs {
    font-size: 20px;
    background-color: #263238;
    display: table;
    padding: 4px 10px;
    border-radius: 2px;
    margin-top: 4px;
}

.career-description {
    margin-top: 18px;
}

.title-description,
.requirment {
    font-size: 24px;
}

.description,
.list-item,
.table-job-detail {
    font-size: 18px;
    text-align: justify;
}

.table-row {
    font-size: 18px;
}

.career-header {
    border-bottom: 2px solid gainsboro;
    padding-bottom: 8px;
}

.career-public {
    color: #fff;
    border-right: 2px solid gainsboro;
    padding-right: 14px;
}

.career-background {
    background-color: rgba(0, 0, 0, 0.186);
    padding: 8px 16px;
}

.career-job {
    margin-top: 8px;
}

.job-right {
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid gainsboro;
    padding-top: 10px;
}

.job-right-top {
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid gainsboro;
    padding-top: 10px;
}

.job-right-bottom {
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.tab-card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}

.card span.card-title {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}

.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}

.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    background-color: #FFF;
    color: #828282;
    height: 180px;
}

.card .card-content p {
    margin: 0;
    color: inherit;
    font-size: 15px;
}

.card .card-content span.card-title {
    line-height: 48px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}

.card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}

label {
    font-weight: 500;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #cecece;
    border-radius: 0px;
    min-height: 40px;
    height: auto;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #b2b2b2;
}

.btn-custom {
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 7%;
    width: 20%;
    color: #fff;
    font-weight: bold;
    background-color: #444444;
}

.btn-custom:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #444;
}

#service {
    animation-iteration-count: 1;
}

.about-title {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: lighter;
    color: #fff;
    margin-top: 15%;
    /*font-size: 40px; 
  margin-bottom: 30px; 
  font-weight: lighter; 
  color: #212121;
  margin-top: 1%;
  margin-bottom: 8%;*/
}

.about-caption {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: lighter;
    text-align: left;
}

.about-caption,
.about-item {
    color: #ffffff;
}

.about-item {
    font-size: 19px;
}

.services-title {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: lighter;
    color: #fff;
    margin-top: 13%;
}

.margin-services {
    margin-top: 40%;
}

.client-title {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: lighter;
    color: #fff;
    margin-top: 13%;
}

.margin-client {
    margin-top: 15%;
}

.client-caption {
    font-size: 26px;
    margin-bottom: 80px;
    margin-top: 20px;
    font-weight: lighter;
}

.partner-caption {
    font-size: 22px;
    margin-top: 0%;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.margin-partner {
    margin-bottom: 150px;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.img-dirjen {
    width: 5%;
}

@media only screen and (max-width: 480px) {
    .table-body {
        height: auto;
    }
    .logo-front {
        margin-top: 50%;
        max-width: 70%;
    }
    .img-footer {
        width: 80%;
        height: 80%;
    }
    .navbar-custom {
        background-color: #212121;
    }
    .navbar-brand img {
        width: 190px;
        height: auto;
    }
    .about-title {
        margin-top: 40%;
    }
    .about-caption {
        font-size: 26px;
        margin-bottom: 30px;
        margin-top: 30px;
        font-weight: lighter;
        text-align: left;
    }
    .services-title {
        margin-top: 40%;
    }
    .margin-services {
        margin-top: 0%;
    }
    .margin-client {
        margin-top: 0%;
    }
    .client-title {
        margin-top: 40%;
    }
    .client-icon {
        margin-bottom: 50px
    }
    .client-caption {
        font-size: 24px;
        margin-bottom: 40px;
        margin-top: 0px;
        font-weight: lighter;
    }
    .map {
        margin-bottom: 65%;
    }
    .margin-partner {
        margin-bottom: 30px;
    }
}